footer.footer 
  .footer__contents
    .footer__wrapper
      a.footer__logo(href="")
        img(src="img/logo-2.svg", alt="</g>")
      span.footer__text Thanks for stopping by ッ
      span.footer__copyright © 2023 Giselle Santos. All Rights Reserved.
    .footer__link-container
      .footer__link-column
        span.footer__link-title Sitemap
        a(href="#about") About
        a(href="#work") Work
        a(href="#tech-stack") Tech Stack
        a(href="#contact") Contact
      .footer__link-column
        span.footer__link-title Links
        a(href="mailto: santosgiselle801@gmail.com") Email
        a(href="tel:09764414177") Phone
        a(href="https://www.linkedin.com/in/giselle-santos-0017a7298/") LinkedIn
        a(href="https://github.com/ellyx81") Github
        a(href="https://www.facebook.com/Ellyx08/") Facebook
