footer.footer 
  .footer__contents
    .footer__wrapper
      a.footer__logo(href="" aria-label="logo")
        img(src="img/logo-2.svg", alt="logo")
      span.footer__text Thanks for stopping by ッ
      span.footer__copyright 
        | &copy 
        span#year 
        |  Giselle Santos. All Rights Reserved.
    .footer__link-container
      .footer__link-column
        span.footer__link-title Sitemap
        a(href="#about-me") About Me
        a(href="#works") Works
        a(href="#tech-stack") Technologies
        a(href="#contact") Contact
      .footer__link-column
        span.footer__link-title Links
        a(href="mailto: santosgiselle801@gmail.com") Email
        a(href="tel:09764414177") Phone
        a(href="https://www.linkedin.com/in/giselle-santos-0017a7298/" target="_blank") LinkedIn
        a(href="https://github.com/ellyx81" target="_blank") Github
        //- a(href="https://www.facebook.com/Ellyx08/" target="_blank") Facebook
    a.footer__to-top-btn.js-to-top(href="#" aria-label="To-top button")
