header.header
  .header__contents
    a.header__logo(href="./") 
      img.pc-only(src="img/logo.svg", alt="logo")
      img.tablet(src="img/logo-2.svg", alt="")
    nav.header__nav.js-nav
      .header__anchor-list
        a.header__anchor(href="#about-me") About Me 
        a.header__anchor(href="#works") Works 
        a.header__anchor(href="#contact") Contact
      .header__socials
        a.header__icon(href="https://www.linkedin.com/in/giselle-santos-0017a7298/" target="_blank")
        a.header__icon(href="https://github.com/ellyx81" target="_blank")
      //- .header__switch.pc-only
      //-   a.header__icon(href="")
    .header__toggler.tablet.js-toggler
      span
    //- .header__switch.tablet
    //-   a.header__icon(href="")
  .header__contents.scroll 
    a.header__logo(href="./") 
      img.pc-only(src="img/logo.svg", alt="")
      img.tablet(src="img/logo-2.svg", alt="")
    nav.header__nav.js-nav
      .header__anchor-list
        a.header__anchor(href="#about-me") About Me 
        a.header__anchor(href="#works") Works 
        a.header__anchor(href="#contact") Contact
      .header__socials
        a.header__icon(href="https://www.linkedin.com/in/giselle-santos-0017a7298/" target="_blank")
        a.header__icon(href="https://github.com/ellyx81" target="_blank")
      //- .header__switch.pc-only
      //-   a.header__icon(href="")
    .header__toggler.tablet.js-toggler
      span
    //- .header__switch.tablet
    //-   a.header__icon(href="")