header.header
  .header__contents
    a(href="#") 
      img.header__logo.pc(src="img/logo.svg", alt="</g> Giselle Santos")
      img.header__logo.sp(src="img/logo-2.svg", alt="</g>")
    .header__hamburger.js-menu
    .header__wrapper
      .header__nav
        a.header__nav-item(href="#about") About Me 
        a.header__nav-item(href="#works") Works 
        a.header__nav-item(href="#contact") Contact
      .header__socials-wrapper
        a.header__icon(href="https://www.linkedin.com/in/giselle-santos-0017a7298/" target="_blank")
        a.header__icon(href="https://github.com/ellyx81" target="_blank")
      .header__switch-wrapper
        a.header__icon(href="")