@use 'settings/color' as color;
@use 'settings/font-family' as font-family;
@use 'tools/media-queries' as media-queries;

html {
  background-color: color.$black-1A1;
  font-family: font-family.$fira;
  color: color.$white;
  font-size: 10px;
  scroll-behavior: smooth;
  @media screen and (max-width: 980px) {
    min-width: 980px;
  }
  @include media-queries.sp {
    min-width: 100%;
  }
}
