$primary: #0085E9;
$secondary: #498dc5;

$text: #303030;
$black: #000;
$white: #fff;

$black-1a1: #1A161B;
$pink-ac4: #AC4047;
$pink-f85: #F85B93;
$orange-fb8: #FB8544;
$yellow-ffb: #FFB800;
$gray-c5c: #C5C5C5;
$gray-5e5: #5E5E5E;
$gray-181: #18181D;