@use 'settings/color' as color;
@use 'settings/font-family' as ff;
@use 'tools/media-queries' as mq;
@use 'tools/mixin' as mixin;

.button {
  height: 60px;
  padding: 0 64px;
  border-radius: 50px;
  width: fit-content;
  gap: 18px;
  background-image: linear-gradient(to right, color.$secondary, color.$primary, color.$primary);
  background-size: 200% 100%;
  transition: all .2s ease-in-out;
  @include mixin.center($direction: row);
  @include mq.mx1024 {
    gap: 15px;
    min-width: 290px;
    padding: 0 30px;
  }

  &:hover {
    background-position: 100% 0;
    box-shadow: 0 3px 20px 4px rgb(172, 64, 71, 0.3);

    & span,
    & img {
      opacity: 1;
    }
  }

  & span,
  & img {
    opacity: 0.9;
  }

  span {
    font: 1.8rem ff.$krona;
    @include mq.mx1024 {
      font-size: 1.6rem;
    }
    @include mq.sp {
      font-size: 1.4rem;
    }
  }

  img {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }

  &--icon-left {
    flex-direction: row-reverse;
  }

  &--secondary {
    border: 2px solid color.$primary;
    border-radius: 0;
    padding: 0 48px;
    height: 50px;
    min-width: 0;
    background: linear-gradient(to right, color.$primary 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: 0.3s;
    @include mq.sp {
      padding: 0 30px;
    }

    &:hover {
      background-position: bottom left;
    }

    span {
      font: 1.4rem ff.$krona;
      @include mq.mx1024 {
        font-size: 12px;
      }
    }
  
    img {
      width: 14px;
      height: 14px;
      object-fit: contain;
    }
  }

  &--small {
    height: 40px;
    padding: 0 30px;
    @include mq.mx1024 {
      min-width: unset;
    }

    &:hover {
      box-shadow: 0 3px 10px 2px rgb(172, 64, 71, 0.3);
    }

    span {
      font-size: 1.2rem;
    }

    img {
      width: 14px;
      height: 14px;
    }
  }
}