@use 'settings/color' as color;
@use 'settings/font-family' as ff;
@use 'tools/media-queries' as mq;
@use 'tools/mixin' as mixin;

.button {
  height: 60px;
  padding: 16px 64px;
  border-radius: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 18px;
  background: linear-gradient(color.$orange-fb8, color.$pink-ac4);
  transition: 0.5s;
  @include mixin.gradient();
  @include mq.mx1024 {
    height: 50px;
    padding: 10px 50px;
  }

  &--icon-left {
    flex-direction: row-reverse;
  }

  &:hover {
    box-shadow: 0 7px 15px 0 rgb(172, 64, 71, 0.7);

    & span,
    & img {
      opacity: 1;
      transition: 0.5s ease-out;
    }
  }

  & span,
  & img {
    opacity: 0.7;
  }

  span {
    font: 1.8rem ff.$krona;
  }

  img {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
}