@use 'settings/color' as color;
@use 'settings/font-family' as ff;
@use 'tools/media-queries' as mq;

.heading {
  font: 7rem ff.$krona;
  @include mq.mx1024 {
    font-size: 6rem;
  }

  &--fs48 {
    font-size: 4.8rem;
    @include mq.mx1024 {
      font-size: 4rem;
    }
  }
}