@use 'settings/color' as color;
@use 'settings/font-weight' as fw;
@use 'settings/font-family' as ff;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as mq;

.header {
  $p: &;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 70px;
  z-index: 1000;
  @include mixin.max-width;
  @include mq.mx1024 {
    top: 0;
    left: 0;
    transform: none;
    overflow-y: hidden;
  }

  &__contents {
    position: relative;
    padding: 0 25px;
    height: 100%;
    border: 1px solid color.$gray-5e5;
    border-radius: 50px;
    overflow: hidden;
    @include mixin.center($direction: row, $justify: space-between);
    @include mq.mx1024 {
      position: fixed;
      height: unset;
      width: 100%;
      padding: 0;
      top: 0;
      left: 0;
      border: none;
      border-radius: 0;
      overflow: unset;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(24, 24, 29, 0.5);
      backdrop-filter: blur(20px);
      border-radius: 50px;
      z-index: -1;
      @include mq.mx1024 {
        display: none;
      }
    }
  }

  &__logo {
    height: 28px;
    @include mq.mx1024 {
      position: absolute;
      left: 25px;
      top: 30px;
      width: auto;
      z-index: 99999;
    }

    img {
      height: 100%;
    }
  }

  &__toggler {
    position: absolute;
    right: 25px;
    top: 33px;
    width: 30px;
    height: 24px;
    z-index: 99999;
    transition: 0.4s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: color.$gray-5e5;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: top 0.3s 0.3s, transform 0.3s;
    }

    &::after {
      top: calc(100% - 4px);
    }

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: color.$gray-5e5;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }

    &.active {

      &::before {
        transform: translate(-18px, 10px) rotate(-45deg);
      }

      &::after {
        transform: translate(-18px, -10px) rotate(45deg);
      }

      span {
        opacity: 0;
      }
      
      & ~ #{$p}__switch {
        visibility: visible;
        opacity: 0.4;
      }
    }
  }
  

  &__nav {
    display: flex;
    transition: 0.1s ease-in-out;
    position: relative;
    @include mq.mx1024 {
      position: absolute;
      top: 0;
      //bottom: 100vh;
      left: 100%;
      width: 100%;
      height: 100svh;
      @include mixin.center;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        //bottom: 100vh;
        width: 100%;
        height: 100%;
        background-color: color.$black-1a1;
        z-index: -1;
      }
    }
    
    & a {
      opacity: 0.4;
      transition: 0.3s;
  
      &:hover {
        opacity: 1;
      }
    }

    &.expand {
      position: relative;
      //bottom: 0;
      left: 0;
    }
  }

  &__anchor-list {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    @include mq.mx1024 {
      flex-direction: column;
      align-items: unset;
      width: 100%;
      margin: 0;
      padding: 0 25px;
      gap: 0;
    }
  }

  &__anchor {
    font-size: 1.6rem;
    color: color.$white;
    @include mq.mx1024 {
      font-size: 23px;
      height: 100px;
      border-bottom: 1px solid color.$gray-5e5;
      @include mixin.center;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;
    @include mq.mx1024 {
      height: 100px;
      align-items: center;
      gap: 60px;
    }
  }

  &__icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../img/icons/linkedin.svg") no-repeat center/100% 100%;
    @include mq.mx1024 {
      width: 30px;
      height: 30px;
    }
    
    &:nth-child(2) {
      background: url("../img/icons/github.svg") no-repeat center/100% 100%;
    }
  }

  &__switch {
    margin-left: 25px;
    padding-left: 25px;
    position: relative;
    border-left: 1px solid color.$gray-5e5;
    @include mq.mx1024 {
      visibility: hidden;
      opacity: 0;
      margin: 0;
      padding: 0;
      border: 0;
      position: absolute;
      top: 30px;
      right: 80px;
      transition: 0.3s;
    }

    a {
      background: url("../img/icons/sun.svg") no-repeat center/100% 100%;
    }
  }
}