@mixin center($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin max-width($max-width: 1024px) {
  max-width: $max-width;
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and (max-width: 1084px) {
    max-width: 100%;
    padding: 0 3%;
  }
  @media screen and (max-width: 767px) {
    padding: 0 5%;
  }
}