@use 'settings/color' as color;
@use 'settings/font-family' as ff;
@use 'settings/font-weight' as fw;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as mq;
@use 'tools/function' as func;

.about-me {

  &__content {
    @include mixin.center($direction: 'row');
    gap: 10%;

    &::before {
      display: block;
      top: -15%;
      right: 5%;
      width: 220px;
      height: 220px;
      transform: rotate(-30deg);
      mask: url('../img/decors/rounded-rectangle-stroke-thin.svg') center / contain no-repeat;
      opacity: 0.05;
      @include mq.mx1024 {
        width: 170px;
        height: 170px;
        right: 10%;
      }
      @include mq.sp {
        width: 160px;
        height: 160px;
      }
    }

    &::after {
      display: block;
      top: -25%;
      right: -10%;
      width: 250px;
      height: 250px;
      transform: rotate(-30deg);
      mask: url('../img/decors/square-dots.svg') center / contain no-repeat;
      opacity: 0.12;
      @include mq.mx1024 {
        width: 200px;
        height: 200px;
        right: -5%;
      }
      @include mq.sp {
        width: 180px;
        height: 180px;
      }
    }
  }

  &__image-wrapper {
    width: 35%;
    position: relative;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      height: 30%;
      top: 50%;
      left: -10%;
      box-shadow: 90px -70px 200px 140px color.$blue;
      opacity: 0.1;
      z-index: -2;
    }
  }

  &__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mq.sp {
      align-items: center;
      text-align: center;
    }
  }

  &__image {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      @include mixin.gradient($opacity: 0.2);
    }

    img {
      object-position: -50px 50px;
      width: 125%;
    }
  }

  &__text {
    font-size: 1.4rem;
    @include mq.mx1024{
      font-size: 1.3rem;
    }
  }
}