@use 'settings/color' as color;
@use 'settings/font-weight' as fw;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as mq;

.banner {
  $p: &;

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5%;
  }

  &__wrapper {
    flex: 1;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 2em;
    @include mq.mx1024 {
      margin-top: 30px;
    }
    @include mq.sp {
      text-align: center;
      align-items: center;
    }
  }

  &__subheading {
    font-size:  1.5em;
    font-weight: fw.$regular;
    @include mq.mx1024 {
      font-size: 1.25em;
    }
  }

  &__text {
    font-size: 1.1em;
    line-height: 1.5em;
  }

  &__image-wrapper {
    width: 45%;
    height: 100%;
    position: relative;
    margin-top: 60px;
    
    &::before {
      content: '';
      position: absolute;
      top: -7%;
      left: 15%;
      width: 80%;
      height: 100%;
      transform: rotate(-10deg);
      border-radius: 12%;
      z-index: -1;
      @include mixin.gradient($opacity: 0.2);
    }

    &::after {
      content: '';
      position: absolute;
      height: 30%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 90px -70px 200px 170px color.$primary;
      opacity: 0.1;
      z-index: -2;
    }
  }

  &__image {
    display: block;
    width: 79%;
    height: 100%;
    margin: 0 10% 0 auto;

    &::before {
      content: '';
      position: absolute;
      top: -8.5%;
      left: 15%;
      width: 80%;
      height: 100%;
      transform: rotate(15deg);
      mask: url("../img/banner/rounded-rectangle-stroke.svg") center 80% / contain no-repeat;
      z-index: 2;
      @include mixin.gradient($opacity: 0.6);
    }

    img {
      mask: url("../img/banner/rounded-rectangle.svg") center 98% / 152% no-repeat;
    }
  }
}