@use 'settings/color' as color;
@use 'settings/font-family' as ff;
@use 'settings/font-weight' as fw;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as mq;
@use 'tools/function' as func;

.contact {

  &__content {

    &::before {
      display: block;
      top: -3%;
      left: -7%;
      width: 240px;
      height: 240px;
      mask: url('../img/decors/diff-squares.svg') center / contain no-repeat;
      @include mq.mx1024{
        width: 200px;
        height: 200px;
        left: 0;
      }
      @include mq.sp {
        width: 190px;
        height: 190px;
        left: -7%;
      }
    }

    &::after {
      display: block;
      top: 15%;
      right: -3%;
      width: 60px;
      height: 240px;
      mask: url('../img/decors/vertical-zigzag.svg') center / contain no-repeat;
      z-index: -2;
      @include mq.mx1024 {
        width: 40px;
        height: 200px;
        right: 2%;
      }
      @include mq.sp {
        display: none;
      }
    }
  }

  &__text {
    display: block;
    text-align: center;
    margin-top: 50px;
    @include mq.mx1024 {
      margin-top: 40px;
      font-size: 1.4rem;
    }
  }

  &__form,
  &__link-container {
    max-width: 800px;
    margin: 40px auto 0;
    @include mq.mx1024 {
      margin: 30px auto 0;
    }
  }

  &__form {
    padding: 60px 0;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    @include mq.mx1024 {
      padding: 40px;
      border-radius: 40px;
    }
    @include mq.sp {
      padding: 30px;
      border-radius: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(6px);
      z-index: -1;
    }
  }

  &__input-wrap {
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    @include mq.mx1024 {
      margin: 0 auto 30px;
    }
  }

  &__label {
    margin-left: 1em;

    &::after {
      content: '*';
      color: color.$primary;
      font-weight: fw.$bold;
    }

    &--norequire {

      &::after {
        display: none;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
  }

  &__button {
    margin: 0 auto;
    @include mq.sp-sm {
      min-width: 100%;
    }
  }

  &__link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
  }

  &__link {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    @include mixin.center;
    @include mq.sp {
      width: 4em;
      height: 4em;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include mixin.gradient($opacity: 0.2);
      z-index: -1;
    }

    img {
      width: 2em;
      height: 2em;
      @include mq.sp {
        width: 1.5em;
        height: 1.5em;
      }
    }

    &:hover {
      transform: translateY(-1em);
    }
  }
}