@use 'tools/media-queries' as mq;
@use 'settings/color' as color;
@use 'settings/font-weight' as fw;
@use 'tools/mixin' as mixin;

.tech-stack {

  &__content {
    @include mixin.setrem($pc: 1.5rem, $tablet: 1.3rem, $sp: 1.2rem);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
    @include mq.mx1024 {
      margin-top: 50px;
      gap: 35px;
    }
    @include mq.sp {
      margin-top: 40px;
      gap: 30px;
    }
  }

  &__clsfctn {
    overflow: hidden;
    padding: 40px 0;
    @include mq.mx1024 {
      padding: 35px 0;
    }
    @include mq.sp {
      padding: 30px 0;
    }
  }
  
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3.5em, max-content));
    grid-gap: 3em;
    justify-content: center;
    margin: 3em auto 0;
    @include mq.mx1024 {
      grid-gap: 2.6em;
    }
    @include mq.sp {
      grid-gap: 2.4em;
    }
  }

  &__heading {
    font-weight: fw.$medium;
    font-size: 1.6em;
  }

  &__item {
    width: 3.2em;
    height: 3.2em;
    position: relative;

    &:hover {
      transform: translateY(-15px) !important;
      transition: 0.3s !important;
    }
  }
}