@use 'settings/color' as color;
@use 'settings/font-family' as ff;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as mq;

input,
textarea,
button {
  color: var(--color-heading);
  border: none;
  background: none;
  @include mixin.setrem($pc: 1.5rem, $tablet: 1.3rem, $sp: 1.2rem);
}

input,
textarea {
  font-family: ff.$text;
  padding: 1em 1.8em;
  border-radius: 25px;
  background-color: var(--color-input);
  @include mq.mx1024 {
    border-radius: 20px;
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid var(--color-secondary);
    outline-offset: -1px;
  }
}

input {

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* For WebKit (Chrome, Safari) */
  // &:-webkit-autofill {
  //   box-shadow: 0 0 0 1000px color.$dark-pink inset;
  //   -webkit-text-fill-color: color.$white !important;
  //   font: inherit;
  // }

  // /* For Firefox */
  // &:-moz-autofill {
  //   box-shadow: 0 0 0 1000px color.$dark-pink inset;
  //   -moz-text-fill-color: color.$white !important;
  //   font: inherit;
  // }

  // /* For Edge */
  // &:-ms-input-placeholder, input::-ms-reveal, input::-ms-clear, input:-ms-autofill {
  //   box-shadow: 0 0 0 1000px color.$dark-pink inset;
  //   color: color.$white !important;
  //   font: inherit;
  // }

  &[type=number] {
    appearance: textfield;
  }
}

textarea {
  resize: none;
  padding: 1.5em 1.8em;
}

button {
  cursor: pointer;
  
  &:focus {
    outline: none;
  }
}

::placeholder {
  color: var(--color-text);
}