@use 'settings/color' as color;
@use 'settings/font-family' as ff;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as mq;

input,
textarea,
button {
  color: color.$white;
  border: none;
  background: none;
  @include mixin.setrem($pc: 1.4rem, $tablet: 1.3rem, $sp: 1.1rem);
}

input,
textarea {
  font-family: ff.$text;
  padding: 1em 1.8em;
  border-radius: 25px;
  background-color: color.$dark-pink;
  @include mq.mx1024 {
    border-radius: 20px;
  }

  &:focus {
    outline: 1px solid color.$primary;
    outline-offset: -1px;
  }
}

textarea {
  resize: none;
  padding: 1.5em 1.8em;
}

button {
  cursor: pointer;
  
  &:focus {
    outline: none;
  }
}

::placeholder {
  color: color.$text;
}