extends includes/layout.pug
block content
  section.section
    .section__content
      a.button(href="")
        span Button
        img(src="img/icons/message.svg", alt="")
      br
      br
      a.button.button--icon-left(href="")
        span Button
        img(src="img/icons/message.svg", alt="")
      br
      br
      h2.heading Heading
      br
      h2.heading.heading--fs48 Heading