extends includes/layout.pug
include includes/mixins.pug
block content
  main.main
    section.section.banner
      .banner__content.section__content
        .banner__wrapper
          h2.banner__subheading FRONT-END DEVELOPER
          h1.banner__heading Giselle Santos
          p.banner__text.gray A front-end developer from Naic, Cavite. I specialize in building responsive websites and landing pages using WordPress.
          a.button.button--icon-left(href="")
            span Download my CV
            img(src="img/icons/download.svg", alt="")
        .banner__image-wrapper.pc
          +picture("banner__image", "/banner/banner", "png", "Giselle Santos picture").contain

    section.section.tech-stack
      .tech-stack__content.section__content
        h2.heading.heading--small My Tech Stack
        .tech-stack__container
          - 
            const tech = [
              ["HTML5", "https://developer.mozilla.org/en-US/docs/Web/HTML" ],
              ["CSS3", "https://developer.mozilla.org/en-US/docs/Web/CSS" ],
              ["JavaScript", "https://developer.mozilla.org/en-US/docs/Web/JavaScript" ],
              ["TypeScript", "https://www.typescriptlang.org/" ],
              ["PHP", "https://www.php.net/" ],
              ["JQuery", "https://api.jquery.com/" ],
              ["Git", "https://git-scm.com/" ],
              ["WordPress", "https://wordpress.org/" ],
              ["PugJS", "https://pugjs.org/" ],
              ["Sass", "https://sass-lang.com/" ],
              ["Bootstrap", "https://getbootstrap.com/" ],
              ["React-Native", "https://reactnative.dev/" ],
              ["NodeJS", "https://nodejs.org/en" ],
              ["MySQL", "https://www.mysql.com/" ],
              ["Java", "https://www.java.com/en/" ] 
          - ]
            each item in tech
              a.tech-stack__item(href=item[1], target="_blank")
                img(src=`img/tech-stack/${item[0]}.svg`, alt=item[0]).contain

    section.section.works#works
      .works__content.section__content
        h2.heading.center My Works
        .works__container
          +worksItem(
            'My Home', 
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis elementum libero ac mollis. In nec ultricies nunc, molestie ornare arcu.', 
            'Helped in coding some pages and parts, and implemented post type WordPress functionality.', 
            'https://www.myhome-co.com/', 
            'live', 
            'my-home', 
            'pc')
          +worksItem(
            'Toolbox Shop', 
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis elementum libero ac mollis. In nec ultricies nunc, molestie ornare arcu.', 
            'Helped in coding some pages, conducted code reviews for team members.', 
            'https://toolbox1.co.jp/shop/', 
            'live', 
            'toolbox', 
            'pc')
          +worksItem(
            'Yeeell - Churu Channel', 
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis elementum libero ac mollis. In nec ultricies nunc, molestie ornare arcu.', 
            'Coded whole page, including contact form.', 
            'https://toolbox1.co.jp/shop/', 
            'demo', 
            'yeeell', 
            'tablet')
          +worksItem(
            'Coolex', 
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis elementum libero ac mollis. In nec ultricies nunc, molestie ornare arcu.', 
            'Coded whole page, including contact form.', 
            'https://toolbox1.co.jp/shop/', 
            'demo', 
            'coolex', 
            'tablet')
          +worksItem(
            'Nethix', 
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis elementum libero ac mollis. In nec ultricies nunc, molestie ornare arcu.', 
            'Sole front-end/backend developer and designer', 
            'https://youtu.be/3JPUh-Nk-NQ?si=OgSFrPIXZ2yxmvP6', 
            'video', 
            'nethix', 
            'phone')

block script
  script(src="js/top/index.ts")