extends includes/layout.pug
include includes/mixins.pug
block content
  main.main
    section.section.banner
      .banner__content.section__content
        .banner__wrapper
          h2.banner__subheading FRONT-END DEVELOPER
          h1.banner__heading Giselle Santos
          p.banner__text A front-end developer from Naic, Cavite. I specialize in building responsive websites and landing pages using WordPress.
          a.button.button--icon-left(href="")
            span Download my CV
            img(src="img/icons/download.svg", alt="")
        .banner__image-wrapper.pc
          +picture("banner__image", "/banner/banner", "png", "Giselle Santos picture").contain
block script
  script(src="js/top/index.ts")